<%= form_for(@job) do |f| %>
  <%= render 'shared/job_error_messages', object: @job %>

    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>

  <div class="form_row">
    <label for="type">Type:</label>
    <% ['Hospital', 'School', 'Church', 'Animal Shelter'].each do |type| %>
     <%= radio_button_tag 'type', type, @type == params[:type] %>
        <%= label_tag "type_#{type}", type.humanize %>
        <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
