<%= form_for(@job) do |f| %>
  <%= render 'shared/job_error_messages', object: @job %>

    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date %>
  </div>



    <label for="field">Type:</label>
     <%= f.radio_button :job_type, 'hospital' %>
        <%= f.label :job_type, 'Hospital', :value => 'hospital' %>
        <%= f.radio_button :job_type, 'school' %>
        <%= f.label :job_type, 'School', :value => 'school' %>
        <%= f.radio_button :job_type, 'church' %>
        <%= f.label :job_type, 'Church', :value => 'church' %>
        <%= f.radio_button :job_type, 'animal shelter' %>
        <%= f.label :job_type, 'Animal shelter', :value => 'animal shelter' %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
