<% provide(:title, "Jobs") %>
<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

    <% @jobs.each do |job| %>
         <span class="content">
<div class="col-xs-12" data-filter="paid">
  <div class="event-simple-item">
    </div>
    <h3 class="event-simple-title"> <%= job.title %> </h3>
    <div class="event-simple-text">
      <%= job.text %>
    </div>
    <div class="event-simple-bottom">
      <div class="event-simple-bottom-info">
        <div class="event-simple-info-lable">Location</div>
      </div>
      <div class="event-simple-bottom-info">
        <div class="event-simple-info-lable">Date & Time</div>
        <%= job.date  %>
      </div>
      <div class="event-simple-bottom-info">
        <div class="event-simple-info-lable">Job Type</div>
        <%= job.job_type  %>
      </div>
    </div>
  </div>
             </div>
             <span class="timestamp">
    <div>
        <%= link_to 'Show', job %>
       <%= link_to 'Edit', edit_job_path(job) %>
      </div>
  </span>
 </span>

    <% end %>
<%= will_paginate @jobs %>

<br>


<%= link_to 'New Job', new_job_path, class:"event-simple-bottom-btn btn btn-round" %>
