<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @job.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @job.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @job.job_type %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
